# Доменные настройки
CORS_ORIGINS=https://демо.доглог.рф

# Postgres
POSTGRES_DB=doglog
POSTGRES_USER=doglogger
POSTGRES_PASSWORD=doggywtf

# SQLAlchemy URL, внутри docker-compose используется host=db
DATABASE_URL=postgresql+psycopg://doglogger:doggywtf@db:5432/doglog

