# Ваша база данных PostgreSQL
DATABASE_URL=postgresql+psycopg://user:pass@host:5432/dbname
# Секретный ключ шифрования (может быть любым):
SECRET_KEY=YOURPASSWORD

# После внесения изменений переименуйте файл в .env